# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Brocante.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\axelc\Documents\GitHub\Brocante-et-coeurs-brises\Brocante\.idea\.idea.Brocante\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
